body {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  /* Mobile only */
  /*Tablet only */
  /*laptop only */
  /*laptop up*/
  /*desktop up */
  /* ALL STYLES */
}

@media (min-width: 0px) and (max-width: 425px) {
  body #app {
    margin: 0% 7%;
  }
  body #app .info-api {
    font-size: 0.9rem;
    padding: 0px;
    margin: auto;
    padding: 3px 3px;
    border: 1px solid red;
  }
  body #app header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #app header .tag {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
  }
  body #app header .tag .blue-tag {
    padding: 8px 50px 20px 50px;
    margin-left: -40px;
    width: 50%;
    border-bottom-right-radius: 30px;
  }
  body #app header .tag .blue-tag .title-tag {
    font-size: 1.2rem;
    margin: 3px 0px;
  }
  body #app header .tag .blue-tag .number {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0px;
  }
  body #app header .tag .blue-tag .serial {
    font-size: 0.9rem;
    font-weight: 700;
    margin: 3px 0px 0px;
    font-style: italic;
  }
  body #app header .tag .img-logo {
    margin: auto;
    margin-left: -15%;
  }
  body #app header .contact {
    margin-top: 20px;
  }
  body #app header .contact .title {
    padding-bottom: px;
    padding-top: 8px;
    font-weight: 600;
    font-size: 1.1rem;
  }
  body #app header .section-header {
    padding-top: 10px;
  }
  body #app header .section-header .title {
    font-weight: 600;
    font-size: 1.0rem;
    margin-bottom: 10px;
    margin-bottom: 0px;
  }
  body #app header .section-header .status {
    color: #F5A623;
    font-weight: 600;
    font-size: 14px;
    margin: 3px 0px;
  }
  body #app header .section-header p {
    margin-top: 0px;
    font-size: 0.7rem;
  }
  body #app .section-supplier {
    border: 2px solid blue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #app footer {
    border: 2px solid rebeccapurple;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  body #app header .tag .img-logo {
    margin-left: -14%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  body #app {
    background-color: #F5A623;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body #app {
    background-color: greenyellow;
  }
}

@media (min-width: 769px) {
  body #app {
    background-color: black;
  }
}

body #app header .blue-tag {
  background-color: #0A8CCC;
  color: #FFFFFF;
}

body #app header .contact .material-icons {
  vertical-align: middle;
  font-size: 14px;
  color: #0A8CCC;
  padding: 5px 5px 5px 0px;
}
/*# sourceMappingURL=index.css.map */