$color-body: #FFFFFF;
$color-blue: #0A8CCC;
$color-blue-tag: #0A8CCC;
$color-status-orange: #F5A623;
$color-subtitle: #919191;
$color-code-font: #8A8A8A;
$color-code-background: #73cefca8;

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: $color-body;
  font-family: 'Open Sans', sans-serif;

  /* Mobile only */
  @media (min-width: 0px) and (max-width:500px) {
    #app {
      margin: 0% 7%;
      .info-api {
        font-size: 0.9rem;
        padding: 0px;
        margin: auto;
        padding: 3px 3px;
      }
      header {
        display: flex;
        flex-direction: column;

        .tag {
          display: inline-flex;
          width: 100%;
          .blue-tag {
            padding: 8px 50px 20px 50px;
            margin-left: -40px;
            width: 50%;
            border-bottom-right-radius: 30px;
            .title-tag {
              font-size: 1.2rem;
              margin: 3px 0px;
            }
            .number {
              font-size: 1.5rem;
              font-weight: 700;
              margin: 0px;
            }
            .serial {
              font-size: 0.9rem;
              font-weight: 700;
              margin: 3px 0px 0px;
              font-style: italic;
            }
          }
          .img-logo { 
            margin: auto;
            margin-left: -15%
          }
        }
        .contact {
          margin-top: 10px;
          .title {
            padding-bottom: 0px;
            padding-top: 0px;
            font-weight: 600;
            font-size: 1.1rem;
          }
        }
        .section-header {
          padding-top: 10px;
          .title {
            font-weight: 600;
            font-size: 1.0rem;
            margin-bottom: 10px;
            margin-bottom: 0px;
          }
          .status {
            color: $color-status-orange;
            font-weight: 600;
            font-size: 14px;
            margin: 3px 0px;
          }
          p {
            margin-top: 0px;
            font-size: 0.7rem;
          }
        }
      }

      .section-supplier {
        // border: 2px solid blue;
        display: flex;
        flex-direction: column;
        .supplier-address {
          .title-supplier {
            color: $color-subtitle;
            margin: 0;
            padding-top: 10px;
          }
        }
      }

      footer {
        border: 2px solid rebeccapurple;
        display: flex;
        flex-direction: column;
      }

    }
  }

  @media (min-width: 321px) and (max-width:425px) {
    #app {
      header {
        .tag {
          .img-logo {
            margin-left: -14%;
          }
        }
      }
    }
  }
  
   /*Tablet only */
  @media (min-width: 501px) and (max-width: 768px) {
    #app {
      background-color: $color-status-orange;
    }
  }

  // /*laptop only */
  // @media (min-width: 769px) and (max-width: 1024px) {
  //   #app {
  //     background-color: greenyellow;
  //   }
  // }

  // /*laptop up*/
  // @media (min-width: 769px) {
  //   #app {
  //     background-color: pink;
  //   }
  // }
  // /*desktop up */
  // @media (min-width: 1025px) {
  //   #app {
  //     // background-color: pink;
  //   }
  // }

  /* ALL STYLES */

  #app {
    .material-icons {
      vertical-align: middle;
      font-size: 14px;
      padding: 5px 5px 5px 0px;
      color: $color-subtitle;
    }
    header {
      .blue-tag {
        background-color: $color-blue-tag;
        color: $color-body;
      }
      .contact {
        #icon-header {
          color: $color-blue;
        }
      }
    }

    .section-supplier {
      display: flex;
      flex-direction: column;
      .supplier-address {
        .title-supplier {
          color: $color-subtitle;
          margin: 0;
        }
        .subtitle-supplier {
          font-weight: bold;
          color: $color-blue;
          margin-top: 8px;
        }
        .code-supplier {
          background-color: $color-code-background;
          color: $color-code-font;
          border-radius: 20px;
          padding: 5px 10px;
          font-weight: bold;
          font-size: 11px;
          margin-left: 4px;
        }
      }
    }

    footer {
      .title-footer {
        font-size: 1em;
      }
      #icon-expand {
        font-size: 20px;
        padding: 0;
        margin: auto;
        color: $color-blue;
        background-color: $color-code-background;
        border-radius: 30px;
        margin-right: 5px;
      }
      .subtitle-footer {
        color: $color-subtitle;
        font-size: 0.9em;
        margin-bottom: 0;
      }
      h3 {
        // border: 1px solid red;
        margin-top: 4px;
        margin-bottom: 5px;
      }
    }
  }

}