body {
  background: rgb(243, 243, 243);
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  #header {
    .blue-tag {
      background-color: rgb(197, 197, 255);
      p {
        border: 1px solid blue;
        height: 20px;
      }
    }
  }
}