@import '../styles/main.scss';

.cnt-order-card {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    background: #ffffff;
    margin-top: 100px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  
  
  h1 {
    @include roboto-medium;
    font-size: 18px;
    color: $black;
  }
  
  .title-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    overflow: hidden;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: $acqua;
    margin-right: 10px;
  }