/*

  Autor: Marcos Brito
  E-mail: marcos.venicios@outlook.com

*/

@import '../../styles/main.scss';

.cnt-billto {
    display: block;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;

    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);

    h1 {
        @include roboto-regular;
        font-size: 12px;
        color: $gray;
    }

    h2 {
        @include roboto-medium;
        font-size: 14px;
        color: $black;

        span {
            font-style: italic;
            color: $gray;
        }
    }

    span {
        color: $gray;
    }

    p {
        @include roboto-light;
        font-size: 12px;
        color: $black;
        padding-top: 2px;
        margin: 0; 
    }

    .cnt-ico {
        display: block;
        float: left;
        overflow: hidden;
        margin-right: 5px;
    }

    .billto-address {
        display: block;
        // float: left;
        overflow: hidden;
    }

    .billto-contact-name {
        display: block;
        overflow: hidden;
    }

    .billto-contact-mail {
        display: block;
        overflow: hidden;
    }

    .billto-contact-phone {
        display: block;
        float: left;
        overflow: hidden;

        span {
            float: left;
        }

        p {
            float: left;
            padding-left: 5px;
        }
    }

    .row {
        margin-bottom: 5px;
    }
}