.e-badge {
  display: inline-block;
  border-radius: 10rem;
  font-size: $text-sm;
  font-weight: $fw-600;
  background-color: $color-light-blue;
  width: 6.125rem;
  color: $color-gray;
  height: 1.4375rem;
  line-height: 1.4375rem;
  text-align: center;
}
