// Color classes
.color-primary {
  color: $color-primary !important;
}

.color-secundary {
  color: $color-secundary;
}

.color-gray {
  color: $color-gray !important;
}

.color-golden {
  color: $color-golden !important;
}

.color-black {
  color: $color-black !important;
}

.color-white {
  color: $color-white !important;
}
