// Text size
.text-sm {
  font-size: $text-sm;
}

.text-md {
  font-size: $text-md;
}

.text-lg {
  font-size: $text-lg;
}

.text-xl {
  font-size: $text-xl;
}

.text-xxl {
  font-size: $text-xxl;
}

// Strong
.fw-600 {
  font-weight: $fw-600;
}
.fw-700 {
  font-weight: $fw-700;
}


