// FONTS
@mixin roboto-thin() {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@mixin roboto-light() {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@mixin roboto-regular() {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@mixin roboto-medium() {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@mixin roboto-bold() {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

// TRANSIÇÃO
@mixin transition($time){
    -webkit-transition: all $time ease-out;
    -moz-transition: all $time ease-out;
    -ms-transition: all $time ease-out;
    -o-transition: all $time ease-out;
    transition: all $time ease-out;
}

// CORES
$white: #ffffff;
$black: #000000;
$gray: #adadad;
$blue: #0a8ccc;
$bluelink: #1290ce;
$blueicon: #205483;
$orange: #f5a623;
$acqua: #e1f1f8;


//Icons
.material-icons.md-20 { font-size: 20px; }