@import '../../styles/main.scss';

.cnt-order-number {
    display: block;
    position: relative;
    width: 90%;
    background: $blue;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -15px;
    padding: 10px 0 10px 27px;

    h1 {
        @include roboto-regular;
        font-size: 18px;
        color: $white;
        margin: 0 0 2px 0;
    }

    .order-number {
        @include roboto-bold;
        font-size: 22px;
        color: $white;
        margin: 0;
        padding: 0;
    }

    .serial-number {
        @include roboto-regular;
        font-size: 12px;
        color: $white;
        font-style: italic;
        margin: 0;
        padding: 0;
    }

    .cnt-me-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: absolute;
        right: -30px;
        top: 15px;
        width: 60px;
        height: 60px;
        border: 2px solid $blueicon;
        border-radius: 50%;
        background: $white;

    }

}

.cnt-client-info {
    display: block;
    overflow: hidden;
    width: 100%;

    h1 {
        @include roboto-medium;
        font-size: 26px;
        color: $black;
        margin: 0 0 5px 0;
    }

    span {
        color: $blueicon;
    }

    p {
        @include roboto-light;
        font-size: 12px;
        color: $black;
        padding-top: 2px;
    }

    a {
        display: block;

        span {
            color: $bluelink;
            @include transition(0.2s);
        }

        &:hover {
            span {
                color: $gray;
                @include transition(0.2s);
            }
        }
    }

    .group-name {
        display: block;
        float: left;
        overflow: hidden;

        span {
            float: left;
        }

        p {
            float: left;
            padding-left: 5px;
        }
    }

    .icon-info {
        display: block;
        float: left;
        overflow: hidden;
        margin-left: 5px;
    }

    .group-mail {
        display: block;
        float: left;
        overflow: hidden;
        margin-right: 20px;

        span {
            float: left;
        }

        p {
            float: left;
            padding-left: 5px;
        }

    }

    .group-phone {
        display: block;
        float: left;
        overflow: hidden;
        margin-right: 20px;

        span {
            float: left;
        }

        p {
            float: left;
            padding-left: 5px;
        }
    }

    .group-fax {
        display: block;
        float: left;
        overflow: hidden;

        span {
            float: left;
        }

        p {
            float: left;
            padding-left: 5px;
        }
    }
}

.cnt-status {
    display: block;
    overflow: hidden;
    width: 100%;
    text-align: right;
    padding-right: 10px;

    h1.purchase-value {
        @include roboto-medium;
        font-size: 26px;
        color: $black;
        margin: 0 0 5px 0;
    }

    h2.status {
        @include roboto-regular;
        font-size: 20px;
        color: $orange;
    }

    p {
        @include roboto-light;
        font-size: 12px;
        color: $black;
        padding-top: 5px;
    }
}